:root {
    --background-color: #d9d9d9;
    --background-color2: #525b4e3b;
    --text-color: #fff;
    --text-color2: #000000;
    --header-color: #3a4137;
    --itens: #3a4137;
    --tabela:white;
    --texto-tabela:black;
}

body.dark-mode {
    --background-color: #1e1e1e;
    --background-color2: #2a2a2a; 
    --text-color: #e0e0e0; 
    --text-color2: #ffffff; 
    --header-color: #707070;
    --itens: #707070;
    --tabela:black;
    --texto-tabela: white;
}

body {
    font-family: "Montagu Slab", serif;
    background-color: var(--background-color);
    color: var(--text-color); 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: background-color 0.3s, color 0.3s;

}

h1,
h2,
h3,
h4,
p {
    margin: 0;
}
.header {
    background-color: var(--header-color);
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    width: 100%;
    box-sizing: border-box;
    transition: background-color 0.3s, color 0.3s;

}

.header-title {
    color: var(--text-color);
    font-size: 24px;
    font-weight: 600;
}

.header-nav {
    display: flex;
    align-items: center;
}

.nav-icons {
    display: flex;
    gap: 30px;
}

.icon-button {
    background-color: transparent;
    height: 40px;
    width: 40px;
    cursor: pointer;
}

.icon-button img {
    max-height: 90%;
    max-width: 90%;
    display: block;
}

.header-nav form button {
    background-color: transparent; 
    border: none; 
    padding: 0; 
    cursor: pointer; 
    height: 40px; 
    width: 40px; 
}

.header-nav form button img {
    max-height: 90%;
    max-width: 90%;
    display: block;
}

.user-menu {
    position: relative;
    display: inline-block;
}

.user-icon {
    cursor: pointer;
}

.user-menu-content {
    display: none;
    position: absolute;
    right: 0;
    background-color: var(--background-color);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    z-index: 1;
}

.user-menu-content a, 
.user-menu-content button {
    color: var(--text-color2);
    padding: 12px 15px;
    text-decoration: none;
    display: block;
    text-align: left;
    background: none;
    border: none;
    width: 100%;
    cursor: pointer;
    font-family: inherit;
    font-size: 16px;
    font-weight: 400;
    
}

.user-menu:hover .user-menu-content {
    display: block;
}

.user-menu-content {
    transition: all 0.3s ease;
    opacity: 0;
    transform: translateY(-10px);
}

.user-menu:hover .user-menu-content {
    opacity: 1;
    transform: translateY(0);
}

.tabela {
    width: 100%;
    margin: 0px 0px;
    font-size: 16px;
    text-align: center;
    border-collapse: collapse;
    color: var(--text-color2);
}

.tabela th, .tabela td{
    padding: 15px 15px;
    border: 1px solid var(--itens);
}

.tabela th {
    background-color: var(--header-color);
    border: 1px solid var(--text-color2);
    color: var(--text-color);
}

.tabela tr:nth-child(even){
    background-color: var(--background-color2);
}

.tabela tr:hover {
    color: var(--text-color);
}
