<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../static/css/home.css">
    <link href="https://fonts.googleapis.com/css2?family=Montagu+Slab:opsz,wght@16..144,100..700&display=swap" rel="stylesheet">
</head>
<body>
    <nav class="navbar">
        <div class="calTitle">
            <span class="calTitle1">Calculadora Vestibular Tradicional UnB</span>
        </div>
        <div class="buttons">
            <img class="homeButtons" src="./img/dark_mode.svg" alt="">
            <img class="homeButtons" src="./img/Home.png" alt="">
            <img class="homeButtons" src="./img/account_circle.png" alt="">
        </div>
    </nav>

    <div class="homeOptions">
        <div class="options">Calcular argumento</div>
        <div class="options">Nota de corte</div>
        <div class="options">Argumentos salvos</div>
        <div class="options">Verificar se passou</div>
    </div>

    <div class="about">
        <div class="howWorks">
            <h4 class="howWorksTitle">Como funciona?</h4>
            <div class="howWorksSpanDiv"><span>Title</span></div>
            <div class="howWorksSpanDiv"><span>Title</span></div>
            <div class="howWorksSpanDiv"><span>Title</span></div>
            <div class="howWorksSpanDiv"><span>Title</span></div>
            <div class="howWorksSpanDiv"><span>Title</span></div>
        </div>
        <div class="aboutUs">
            <h4>Sobre nós</h4>
        </div>
    </div>
</body>
</html>