<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../static/css/home.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montagu+Slab:opsz,wght@16..144,100..700&display=swap" rel="stylesheet">
</head>
<body>
    <div class="header">
        <p class="header_text">Calculadora Vestibular UnB</p>
        <div class="header_assets">
            <p><img src="./alt/account_circle.png" alt=""></p>
            <p><img src="./alt/Home.png" alt=""></p>
            <p><img src="./alt/dark_mode.png" alt=""></p>
        </div>
    </div>
    <div>

    </div>
</body>
</html>